/*reset*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,form,input,textarea,p,dl,dt,dd {padding:0; margin:0;}

img {border:0;}ul,li {list-style:none;}
h1, h2, h3 {font-size: 100%; color: #333333;}
body {background: #FFFFFF; padding-bottom: 20px; font-size: 12px;font-family: "ו"; background: url(../images/pagebg.gif) 0 -464px repeat-x;}
#index {color: #666666; line-height: 22px;}
.h8px {height:8px;clear:both;margin:0 auto;overflow:hidden;font-size:0;line-height:0;}
.fl {float:left;}.fr {float:right;}.tr{text-align:right;}.tc {text-align:center;}.clear {clear:both;overflow:hidden; height:0;} .main {clear:both;}